body {
  background-color: gainsboro;
  background-image: url(../img/cross_scratches.png);
  background-repeat: repeat repeat;
  overflow-x: hidden;
}

h1 {
  color: blueviolet;
  text-align: center;
}

li {
  list-style-type: none;
}

path {
  stroke: black;
  stroke-width: 2;
  fill: none;
}

.overview-link {
  position: absolute;
  top: .4em;
  left: .4em;
}

.contact-links {
  position: absolute;
  top: .4em;
  right: .4em;
}

.contact-links li {
  list-style-type: none;
  float: left;
  margin-left: .25em;
  margin-right: .25em;
}

.bar {
  cursor: pointer;
}

.controls {
  padding-left: 3em;
  padding-right: 3em;
}

.controls .slider {
  margin-left: 2em;
}

.slider {
  margin: 10px;
}

.control-genres ul {
  width: 49%;
}

.genre {
  cursor: pointer;
  line-height: 1.5em;
  width: 13em;
  display: inline-block
}

.genre text {
  font-size: 1.3em;
}

.genre-color {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 1em;
  margin-left: 1em;
}

.control-subgenres ul {
  width: 100%;
}
.subgenre {
  cursor: pointer;
  line-height: 1.5em;
  width: 13em;
  display: inline-block
}

.strike { 
  text-decoration: line-through;
}

#tooltip {
  display: none;
  position: absolute;
  border-radius: 3px;
  padding: 0.5em;
  max-width: 40%;
  min-width: 35%;
  z-index: 100;
  background-color: gainsboro;
  -webkit-box-shadow: 2px 2px 9px 0px #000;
     -moz-box-shadow: 2px 2px 9px 0px #000;
          box-shadow: 2px 2px 9px 0px #000;
}

.game-info {
  float: left;
  padding: 0px;
  margin: 0px;
}

.game-boxart {
  margin: 0px;
}

.game-info ul {
  font-size: 1.5em;
  display: inline-block;
  list-style-type: none;
}

.game-info li {
  text-align: center;
}

.main-overview {
  padding-left: 18%;
  padding-right: 18%;
}

.alt {
  text-align: right;
  background-color: 
}

footer {
  display: block;
  text-align: right;
  padding-right: 1em;
}
