body {
  background-color: gainsboro;
}

h1 {
  color: blueviolet;
}

path {
  stroke: black;
  stroke-width: 2;
  fill: none;
}

#gameInfo {
  background-color: silver;
  position: absolute;
  display: none;
  padding: 0.5em;
  border-radius: 3px;
  max-width: 30em;
  min-width: 20em;
}

#gameInfo img {
  float: left;
  padding-right: 1em;
  display: block;
}

#description {
  font-size: 1.5em;
  background-color: blueviolet;
  display: inline;
}

#gameInfo .score {
  display: block;
}


.yBarAxis {
  position: fixed;
  left: 0;
}

.yLineAxis {
  position: fixed;
  right: 0;
}

.explaination {
  padding: 3em;
}

li {
  list-style-type: none;
}
