{% include header.html %}
<section id='header'>
  <a class='overview-link' href='index.html'>More Systems</a>
  <h1>{{ page.title }}</h1>
  <ul class='contact-links'>
    <li><a href='https://www.github.com/brainss/game-graphs'>Github</a></li>
    <li><a href='https://twitter.com/brainss_'>Twitter</a></li>
    <li><a href='http://blog.brainss.me'>Blog</a></li>
  </ul>
</section>
<section class='main'>
  <div class='graphs'>
    <svg id='reviews'></svg>
    <svg id='ratings'></svg>
  </div>
  <div class='controls'>
    <div class='control-reviews'>
      <h3 class='bounds'>
        <span class='upper'></span> &#8805;
        <span class='slider-label'>Reviews</span> &#8805;
        <span class='lower'></span>
      </h3>
      <div class='slider'></div>
    </div>
    <div class='control-ratings'>
      <h3 class='bounds'>
        <span class='upper'></span> &#8805;
        <span class='slider-label'>Ratings</span> &#8805;
        <span class='lower'></span>
      </h3>
      <div class='slider'></div>
    </div>
    <div class='control-genres'>
      <h3>Genres</h3>
      <ul></ul>
    </div>
    <div class='control-subgenres'>
      <h3>Sub-Genres</h3>
    </div>
  </div>
</section>
<div id='tooltip'>
  <h3 class='game-title'></h2>
  <div class='game-info'>
  <img class='game-boxart'>
    <ul>
      <li><span class='game-rating'></span> / 10</li>
      <li><span class='game-reviews'></span> reviews</li>
    </ul>
  </div>
</div>
<footer>
  <p>Source: <a href='http://www.gamefaqs.com/snes'>GameFAQs</a></p>
</footer>
<script type='text/javascript' src='http://code.jquery.com/jquery-1.9.1.js'></script>
<script type='text/javascript' src='http://code.jquery.com/ui/1.10.3/jquery-ui.js'></script>
<script type='text/javascript' src='js/jquery.ui.touch-punch.js'></script>
<script type='text/javascript' src='js/d3.js'></script>
<script type='text/javascript' src='js/main.js'></script>
<script type='text/javascript' src='js/bargraph.js'></script>
<script type='text/javascript'>
  $(document).ready(function() {
    d3.json('{{ page.json }}', function(err, data) {
      graph.init(data);
    });
  })
</script>
{% include footer.html %}
